<div class="state-container" *ngIf="workflows && !showEditForm">
    <div class="state-item" *ngFor="let state of states">
        <div class="state-title">{{ state }}</div>
            <div class="workflow-container title">
                <div>Name</div>
                <div>Type</div>
                <div>State</div>
                <div>Updated</div>
            </div>
            <div class="workflow-container item" *ngFor="let workflow of workflows[state]" (click)="onEditWorkflow(workflow._links.self.href)">
                <div>
                    {{workflow.name}}
                </div>
                <div>
                    {{workflow.type}}
                </div>
                <div>
                    {{workflow.state}}
                </div>
                <div>
                    {{workflow.updated}}
                </div>
            </div>
    </div>
</div>
<app-edit-workflow 
    *ngIf="showEditForm" 
    [workflowUrl]="workflowUrl"
    (saveEvent)="onApproveEdit($event)"
    (cancelEvent)="onCancelEdit($event)">
</app-edit-workflow>
