<div *ngIf="isLoggedIn" class="user-profile-container">
    <div>
        <label>Username:</label>
        <span>{{ user.username }}</span>
    </div>
    <div>
        <label>Role:</label>
        <span>{{ user.role }}</span>
    </div>
    <div>
        <label>Not locked:</label>
        <span>{{ user.nonLocked }}</span>
    </div>
    <div>
        <label>Not expired:</label>
        <span>{{ user.nonExpired }}</span>
    </div>
    <div>
        <label>Enabled:</label>
        <span>{{ user.enabled }}</span>
    </div>
    <div>
        <label>Credentials not expired:</label>
        <span>{{ user.credentialsNonExpired }}</span>
    </div>
</div>
