<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <div class="user-container">
        <div>Error</div>
        <div th:text="${timestamp}"></div>
        <div th:text="${path}"></div>
        <div th:text="${error}"></div>
        <div th:text="${status}"></div>
        <div th:text="${message}"></div>
        <div th:text="${exception}"></div>
        <div th:text="${trace}"></div>
    </div>
</body>
</html>